.header{
    background-color: rgb(185, 247, 255);
    max-height: 40px;
    display: flex;
    border: -10;
}
ul{
    display: flex;
    margin: 0;
    list-style: none;
}

a{
    text-decoration: overline;
}

img{
    width: 40px;
    padding-left:10px ;
    border-bottom: 10px;
    width: 48px;
}

.rightnav{
    display: flex;
    flex-direction: row;
   justify-content: flex-end;
   flex-wrap: wrap;
   -ms-flex-item-align: end;
}
/* .body1{
 
} */
#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 50%;
  }