 
  #advert-video {
  width: 50vw;
  height: 40vh;
  /* object-fit: contain; */
  /* position: fixed; */
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: 50%;
} 

.container{
  background-color: rgba(3, 0, 84,0.4);
  padding-bottom: 40px;
  border-radius: 10px;
  
} 

.logoimg{
  height: 90px;

}
 
h6{
  padding-top: 40px;
  margin-left: -10px;
}
 .header{
  
  display: flex;
  gap:37%;
  justify-content: space-around;
  flex-grow: 1;
 }

body{
  background-color: whitesmoke;
 
 }

 .left{
  display: flex;
  flex-direction: row;
  padding-top: 5px;
 }

 .right{
  padding-top: 5px;
 }


 a{
  text-decoration: none;
  padding-right:  10px;
  font-size: 18px;
 }

 /* description */

 #description{
  display: flex; 
  justify-content: space-around;
 }

 .left1{
  padding-left: 100px;
 }

 .right1{
  padding-right: 15px;
 }

 h5{
  font-size: x-large;
  font-weight: 48px;
 }

 button{
  background-color: #3882f6;
  width: 20%;
  height: 15%;
  font-size: 15px;
  font-weight: 300px;
  font-family:Comic Sans MS;
  border: 0;
  border-radius: 10px;
 }

 .intro{
  text-align:center;
  font-size: x-large;
  font-weight: 48px;
 }

 .photos{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 100px;
  justify-content: center;
  flex-direction: row;
 }

.dogs{
  width: 10%;

}
figure{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.quotes{
 background-color:  rgb(233, 224, 224);
 margin-top: 90px;
 text-align: center;
 padding: 30px;
 font-size: x-large;
 font-weight: 34px;
}
